### Dictionaries

In [2]:
## Creating Dictionaries

empty_dict = {}
print(type(empty_dict))

<class 'dict'>

In [3]:
empty_dict = dict()
empty_dict

{}

In [4]:
student = {"name":"Dheeraj", "age":21,"grade":25}
print(student)
print(type(student))

{'name': 'Dheeraj', 'age': 21, 'grade': 25}
<class 'dict'>

In [5]:
# Single key is always used

student = {"name":"Dheeraj", "age":21,"name":25}
print(student)

{'name': 25, 'age': 21}

In [6]:
## Accessing Dictionary Elements

student = {"name":"Dheeraj", "age":21,"grade":'A'}
print(student)

{'name': 'Dheeraj', 'age': 21, 'grade': 'A'}

In [7]:
## Accessing Dictionary Elements

print(student['grade'])
print(student['age'])


## Accessing using get() method

print(student.get('grade'))
print(student.get('last_name'))
print(student.get('last_name', "Not Available"))

A
21
A
None
Not Available

In [ ]:
## Modifying DIctionary Elements

print(student )

{'name': 'Dheeraj', 'age': 21, 'grade': 'A'}

In [9]:
student["age"] = 29     #Update value for the key
print(student)
student["address"] = "India"    #Added a new key and value
print(student)

{'name': 'Dheeraj', 'age': 29, 'grade': 'A'}
{'name': 'Dheeraj', 'age': 29, 'grade': 'A', 'address': 'India'}

In [10]:
del student['grade']    #Delete key and value pair
print(student)

{'name': 'Dheeraj', 'age': 29, 'address': 'India'}

In [11]:
## Dictionary methods

keys = student.keys()   #get all the key
print(keys)
value = student.values()    #got all values
print(value)

items = student.items()     #get all key value pairs
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['Dheeraj', 29, 'India'])
dict_items([('name', 'Dheeraj'), ('age', 29), ('address', 'India')])

In [12]:
## Shallow copy

student_copy = student
print(student)
print(student_copy)

{'name': 'Dheeraj', 'age': 29, 'address': 'India'}
{'name': 'Dheeraj', 'age': 29, 'address': 'India'}

In [13]:
student["name"] = "Krish"
print(student)
print(student_copy)

{'name': 'Krish', 'age': 29, 'address': 'India'}
{'name': 'Krish', 'age': 29, 'address': 'India'}

In [14]:
student_copy1 = student.copy() #shallow copy
print(student_copy1)
print(student)

{'name': 'Krish', 'age': 29, 'address': 'India'}
{'name': 'Krish', 'age': 29, 'address': 'India'}

In [15]:
student["name"] = "Rupu"
print(student_copy1)
print(student)

{'name': 'Krish', 'age': 29, 'address': 'India'}
{'name': 'Rupu', 'age': 29, 'address': 'India'}

In [16]:
## Iterating Over Dictionaries

# Iterating over keys
for keys in student.keys():
    print(keys)

name
age
address

In [17]:
## Iterate over values
for value in student.values():
    print(value)

Rupu
29
India

In [18]:
## Iterate over key value pairs
for key,value in student.items():
    print(f"{key}:{value}")

name:Rupu
age:29
address:India

In [19]:
## Nested Dictionaries

students = {
    "student1":{"name":"Dheertaj","age":21},
    "student2":{"name":"Rupu","age":18}
}
print(students)

{'student1': {'name': 'Dheertaj', 'age': 21}, 'student2': {'name': 'Rupu', 'age': 18}}

In [21]:
## Access nested dictionaries elements

print(students["student2"]["name"])
print(students["student2"]["age"])

Rupu
18

In [22]:
students.items()

dict_items([('student1', {'name': 'Dheertaj', 'age': 21}), ('student2', {'name': 'Rupu', 'age': 18})])

In [23]:
## Iterating over nested dictionaries

for student_id,student_info in students.items():
    print(f"{student_id}:{student_info}")
    for key,value in student_info.items():
        print(f"{key}:{value}")

student1:{'name': 'Dheertaj', 'age': 21}
name:Dheertaj
age:21
student2:{'name': 'Rupu', 'age': 18}
name:Rupu
age:18

In [ ]:
## Dictionary Comprehension

squares = {x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [26]:
## Conditional dictionary comprehension

evens= {x:x**2 for x in range(10) if x%2 == 0}
print(evens)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [28]:
## Practical Examples

## Use a dictionary to count the frequency of elements in list

numbers = [1,2,2,3,3,3,4,4,4,4]
#frequency = set(numbers)
frequency = {}

for number in numbers:
    if number in frequency:
        frequency[number] += 1
    else:
        frequency[number] = 1

print(frequency)

{1: 1, 2: 2, 3: 3, 4: 4}

In [29]:
## Merged 2 dictionary into one

dict1 = {"a":1,"b":2}
dict2 = {"b":3,"c":4}
merged_dict = {**dict1, **dict2}
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}