## Variables

In [ ]:
a = 100

In [ ]:
## Declaring And Assigning Variables

age = 21
height = 5.5
name = "Dheeraj"
is_student = True


## printing the variables

print("age :",age)
print("height :",height)
print("name :",name)

age : 21
height : 5.5
name : Dheeraj

In [ ]:
## Naming Conventions
## Variable name should be descriptive
## They must start with a letter or an '-' and contains letters, numbers and underscores
## variables names case sensitive

# valid varable names

first_name = "Dheeraj"
last_name = "Mahapatra"

In [ ]:
# Invalid variable names
# 2age = 30
# first-name="Dheeraj"
# @name="Dheeraj"

In [ ]:
## case sensitive

name = "Dheeraj"
Name = "Mahapatra"

name == Name

False

In [ ]:
## understanding variable types
## Python is dynamically typed, type of a variable is determined at runtime

age = 21 #int
height = 5.5 #float
name = "Dheeraj" #str
is_student = True #bool

print(type(name))

<class 'str'>

In [ ]:
## Type Checking and Conversion

type(height)

float

In [ ]:
age = 25
print(type(age))

# Type conversion
age_str = str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [ ]:
age = '21'
print(type(int(age)))

<class 'int'>

In [ ]:
name = "Dheeraj"
int(name)

ValueError: invalid literal for int() with base 10: 'Dheeraj'

In [ ]:
height = 5.5
type(height)

float

In [ ]:
int(height)

5

In [ ]:
float(int(height))

5.0

In [ ]:
## Dynamic Typing
## Python allows the type of a variable to change as per program executes

var = 10 #int
print(var, type(var))

var = "Hello"
print(var, type(var))

var = 3.14
print(var, type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [ ]:
## Input

age = input("What is the age: ")
print(age, type(age))

23 <class 'str'>

In [ ]:
age = int(input("What is the age: "))
print(age, type(age))

21 <class 'int'>

In [3]:
### Simple calculator

num1 =  float(input("Enter first number: "))
num2 =  float(input("Enter first number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum: ", sum)
print("Diffrence: ", difference)
print("Product: ", product)
print("Quotient: ", quotient)

Sum:  20.0
Diffrence:  0.0
Product:  100.0
Quotient:  1.0