## Deep Dive into Operators

In [2]:
## Arithmetic Operation

a = 10
b = 5

add_result = a+b    #addition
sub_result = a-b    #subtraction
mul_result = a*b    #multiplication
div_result = a/b    #division
floor_div_result = a//b     #floor division
modulus_result = a%b    #modulus operation

exponential_result = a**b   #exponential operation

print(add_result)
print(sub_result)
print(mul_result)
print(div_result)
print(floor_div_result)
print(modulus_result)
print(exponential_result)

15
5
50
2.0
2
0
100000

In [3]:
21/5

4.2

In [4]:
21//5

4

### Comparison Operators|

In [5]:
## Comparison Operator
## ==

a = 10
b = 10

a == b

True

In [7]:
str1 = "Krish"
str2 = "Dheeraj"

str1 == str2

False

In [9]:
str1 = "Dheeraj"
str2 = "Dheeraj"

str1 == str2

True

In [11]:
## Not Equal to !=
str1 != str2

False

In [12]:
str1 = "Krish"
str2 = "Dheeraj"

str1 != str2

True

In [ ]:
## Greater Than >

num1 = 45
num2 = 55

num1 > num2

False

In [ ]:
## Less Than <
print(num1 < num2)

True

In [17]:
## Greater than or Equal To

number1 = 45
number2 = 45

print(number1 >= number2)

True

In [18]:
## Less than or Equal To

number1 = 45
number2 = 45

print(number1 <= number2)

True

### Logical Operators

In [19]:
## And, Not, OR

X = True
Y = True

result = X and Y
print(result)

True

In [20]:
X = False
Y = True

result = X and Y
print(result)

False

In [23]:
X = False
Y = False

result = X or Y
print(result)

False

In [24]:
X = True
Y = False

result = X or Y
print(result)

True

In [25]:
# Not operator

X = False
not X

True

In [26]:
X = False
not X

True

In [27]:
## Simple Calculator

num1 =  float(input("Enter first number: "))
num2 =  float(input("Enter first number: "))

# Performing arithmetic operations
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2
floor_division = num1 // num2
modulus = num1 % num2
exponential = num1**num2

# Displaying result
print("Addition: ", addition)
print("Subtraction: ", subtraction)
print("Multiplication: ", multiplication)
print("Division: ", division)
print("Floor_Division: ", floor_division)
print("Modulus: ", modulus)
print("Exponential: ", exponential)

Addition:  8.0
Subtraction:  0.0
Multiplication:  16.0
Division:  1.0
Floor_Division:  1.0
Modulus:  0.0
Exponential:  256.0