### Loops

In [1]:
range(5)

range(0, 5)

In [2]:
## for loop

for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [8]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [9]:
for i in range(10, 1, -1):
    print(i)

10
9
8
7
6
5
4
3
2

In [10]:
for i in range(10, 1, -2):
    print(i)

10
8
6
4
2

In [11]:
## Strings

str = "Dheeraj Mahapatra"

for i in str:
    print(i)

D
h
e
e
r
a
j

M
a
h
a
p
a
t
r
a

In [13]:
## While Loop

count = 0

while count < 5:
    print(count)
    count = count + 1

0
1
2
3
4

In [16]:
count = 0

while count%2 == 0:
    print(count)
    count = count+1

0

In [18]:
## Loop Control Statement

## break Statement

for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [ ]:
## continue

for i in range(10):
    if i%2 == 0:
        continue
    print(i)

1
3
5
7
9

In [ ]:
## pass
# The pass statement is a null operation; it does nothing.

for i in range(5):
    if i == 3:
        print("The number is: ",i)
        pass
    print(i)

0
1
2
The number is:  3
3
4

In [23]:
## Nested loops

for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [25]:
## Example- Calculate the sum of first N natural numbers using a while and for loop

n = 10
sum = 0
count = 1

while count<=n:
    sum = sum + count
    count = count + 1
    
print("Sum of first 10 natural numbers: ",sum)

Sum of first 10 natural numbers:  55

In [26]:
n = 10
sum = 0

for i in range(11):
    sum = sum+i
    
print(sum)

55

In [38]:
## Example - Prime number between 1 and 100

'''
for num in range(1, 101):
    for i in range(2, num):
        if num % i == 0:
            break
    else:
        print(num)
'''



for num in range(1, 101):
    if num>1:
        for i in range(2, num):
            if num % i == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97